html, body {
  background-color: rgb(235, 235, 235);
  font-family: 'Lato';
}

.container {
  max-width: 600px;
  margin: 0 auto 0 auto;
}

.main {
  padding: 20% 20px;
  position: relative;
  margin: 0 auto;
  display: inline-block;
}

.profile-img img {
  width: 60px;
  border-radius: 50%;
  border: thick solid rgba(32, 78, 32, 0.596);
}

.indent {
  padding-left: 80px;
}

.name {
  font-size: 6rem;
}

.links {
  margin: 10px 0px;
}

.links a {
  text-decoration: none;
  color: inherit;
}

.links .button {
  display: inline-block;
  margin: 0px 1px 0px 5px;
  padding: 10px 15px;
  border: thin solid black;
  border-radius: 3px;
}

.links .button:hover {
  background-color: rgb(211, 94, 94);
  color: white;
  transition: 1s;
}

.tomato-hop {
  position: absolute;
  top: 37%;
  left: 6px;
  transform: rotate(-60deg);
  transform-origin: 96% 25%;
  cursor: pointer;
}

.swing-tomato {
  animation: swing ease-in-out 1s infinite alternate;
}

.bounce-tomato {
  animation: bounce 2s cubic-bezier(.755, .05, .855, .06) forwards;
}

.tomato-hop img {
  width: 50px;
}

.footer {
  margin: 20px 0px 0px 5px;
  font-style: italic;
  font-size: 0.7rem;
}

@keyframes swing {
  0% { transform: rotate(-65deg); }
  100% { transform: rotate(-55deg); }
}

@keyframes bounce {
  60%, 80%, to { 
    transform: translateY(200px); 
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  }
  70% { transform: translateY(100px); }
  90% { transform: translateY(160px); }
}